<div class="pessoal">
    <a href="https://www.baudalu.net.br">
        <img class="foto-pessoa" src="img/2020.jpg" alt="Luiza Pires">
    </a>
    <p id="nome">Luiza Pires</p>
</div>


<div class="pessoal">
    <a href="https://www.linkedin.com/in/kevinsantosguedes/">
        <img class="foto-pessoa" src="img/fotoKevin.png" alt="Kevin Guedes">
    </a>
    <p id="nome">Kevin Guedes</p>
</div>

<div class="pessoal">
    <a href="www.linkedin.com/in/sofia-oliveira-383b2117a">
        <img class="foto-pessoa" src="img/perfil_Sofia (2).JPG" alt="Sofia Oliveira">
    </a>
    <p id="nome">Sofia Oliveira</p>
</div>

<div class="pessoal">
    <a href="https://www.linkedin.com/in/camisjef/">
        <img class="foto-pessoa" src="https://media-exp1.licdn.com/dms/image/C4D03AQGHN1hmGlJFpg/profile-displayphoto-shrink_400_400/0?e=1611792000&v=beta&t=rhI56k2NDiFn8bCTmBEJUs5EZQGYts2sX2KKWGONnUI" alt="Camila Alves">
    </a>
    <p id="nome">Camila Alves</p>
</div>

<div class="pessoal">
    <a href="https://www.baudalu.net.br">
        <img class="foto-pessoa" src="img/einstein.png" alt="Guilherme Federico">
    </a>
    <p id="nome">Guilherme Federico</p>
</div>


