<div class="pessoal">
    <a href="https://www.linkedin.com/in/kevinsantosguedes/">
        <img class="kevin" src="img/fotoKevin.png" alt="Kevin Guedes">
    </a>
    <p id="nome">Kevin Guedes</p>
</div>