<div class="pessoal">
    <a href="https://www.linkedin.com/in/sofia-oliveira-383b2117a">
        <img class="sofia" src="img/perfil_Sofia (2).JPG" alt="Sofia Oliveira">
    </a>
    <p id="nome">Sofia Oliveira</p>
</div>
