<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./head'); %>
</head>

<body>
    <p class="autoria">Por Luiza Pires | Kevin Guedes | Sofia Oliveira | Camila Alves | Guilherme Federico</p>
</body>

</html>