<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descrição:" content="Resultado da Fibonacci">
    <title>Fibonacci</title>
</head>

<body>
    <p class="data">
        Você atualizou essa página: <%= new Date(); %>
    </p>

    <p class="tratamento"></p>
    <div class="apresentacao">
        <div class="apres">
            <div class="form">
                <p class="formulariocab">
                    Exercício de Fibonacci:
                </p>
                <p class="formularioQ">
                    Informe a posição para mostrar a Fibonacci.
                </p>
                <form method="POST" action="/fibonacci" autocomplete="off">
                    <input name="posicao" type="text" />
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <p class="resultado">
                Mostrando o termo <%= operacao %> para a posição solicitada (<%= posicao %>): <%= fibonacci_resultado %>
            </p>

        </div>
    </div>
    <div class="tratamento"></div>
    <div class="voltar">
        <div class="einstein2">
            <p class="volta"><a href="/">Clique para ir para a HOME</a></p>
        </div>

    </div>
</body>

</html>