<div class="apresentacao">
    <div class="apres">
        <p>Esse site está sendo desenvolvido, com finalidade avaliativa,</p>
        <p>para compor nota da disciplina</p>
        <p class="destaque1">Desenvolvimento de Software em Nuvem</p>
        <p>ministrada pelo professor:</p>
        <p class="destaque2">Carlos Mendes</p>
        <p>a qual compõe a grade curricular do segundo semestre do curso</p>
        <p class="destaque2">Análise e Desenvolvimento de Sistemas</p>
        <p> na Universidade de Fortaleza.</p>
        </p>
    </div>
</div>