<p>
    Me chamo luiza, tenho
    <script src="js/idade.js"></script> anos de idade,
    sou engenheira civil por formação, trabalho com artes e serviços gráficos, Artesanato é uma paixão.
</p>
<p>
    Atualmente cursando o segundo semestre de Análise e Desenvolvimento de Sistemas.
</p>
<br>