<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descrição:" content="Cálculos matemáticos básicos">
    <title>Home</title>
</head>

<body>
    <div class="topo">
        <p class="data">
            Você atualizou essa página: <%= new Date(); %>
        </p>
        <h1>
            <%= titulo %>
        </h1>
        <p class="autoria"> Por Luiza Pires | Kevin Guedes | Sofia Oliveira | Camila Alves | Guilherme Federico</p>
        <div class="cabecalho">
            <div class="einstein">
                <img class="einsteinImg" src="img/einstein.png" alt="desenho de Einstein">
            </div>
            <div class="comentarios">
                <p class="comentario">Escolha a função que deseja utilizar</p>
            </div>
            <div class="contagem">
                <div class="contagemInt">
                    <a href="contagem">
                        <p>CONTAGEM</p>
                    </a>
                </div>
            </div>
            <div class="fibonacci">
                <div class="fibonacciInt">
                    <a href="fibonacci">
                        <p>FIBONACCI</p>
                    </a>
                </div>
            </div>
            <div class="maxdivcomum">
                <div class="maxdivcomumInt">
                    <a href="mdc">
                        <p>MDC</p>
                    </a>
                </div>
            </div>
            <div class="ordenacao">
                <div class="ordenacaoInt">
                    <a href="ordenada">
                        <p>ORDENAÇÃO</p>
                    </a>
                </div>
            </div>
            <div class="primos">
                <div class="primosInt">
                    <a href="primos">
                        <p>NÚM. PRIMOS</p>
                    </a>
                </div>
            </div>
            <div class="somatorio">
                <div class="somatorioInt">
                    <a href="somatorio">
                        <p>SOMATÓRIO</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="borda"></div>
    <div class="apresentacao">
        <div class="apres">
            <p>Esse site está sendo desenvolvido, com finalidade avaliativa, para composição de notas das disciplinas
            </p>
            <p class="destaque1">Desenvolvimento de Software em Nuvem</p>
            <p>e</p>
            <p class="destaque1"> Ambientes de Desenvolvimento de Software,</p>
            <p>ministradas pelos professores:</p>
            <p class="destaque2">Carlos Mendes e Alzir Falcão,</p>
            <p>as quais compõem a grade curricular do segundo semestre do curso</p>
            <p class="destaque2">Análise e Desenvolvimento de Sistemas</p>
            <p> na Universidade de Fortaleza.</p>
            </p>
        </div>
    </div>

</body>

</html>