<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Graduate&amp;family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/pessoal.css">
    <link rel="stylesheet" href="css/slideshow.css">
    <script src="js/slideshow.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descrição" content="Página Pessoal de Luiza Pires">
    <meta name="autora" content="Luiza Pires">
    <title><%= titulo %></title>
</head>

<body>
    <div class="cabecalho">
        <p class="topo"></p>
        <div class="identificacao">
            <h1 class="logo">Luiza Pires</h1>
            <span class="line1"></span>
            <p class="definicao"><%= titulo %></p>
        </div>
        <p class="espaco"> </p>
    </div>

    <%- include('main') %>
    <%- include('secundario') %>

    <footer>
        <p class="copyright"> Desenvolvido por Luiza Pires | &copy; Todos os direitos reservados</p>
    </footer>
</body>

</html>