<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>

            <% if(ordenada_resultado) { %>
                <p class="resultado">
                    Vetor a ser ordenado: <%= vetorEntrada %>. </br>Resultado da ordenação: <%= ordenada_resultado %>
                </p>
            <% } else { %>
                <p class="resultado">
                    Por favor, confira o seu vetor
                </p> 
            <% } %>

            <p class="formularioQ">
                Informe os próximos números para ordenar
            </p>
            <form method="POST" action="/ordenada" autocomplete="off">
                <input name="vetorEntrada" type="text" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Números separados por vírgula'" placeholder="Números separados por vírgula"/>
                </br>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>