<div class="apresentacao">
    <div class="apres">
        <div class="form">
            <p class="formulariocab">
                <%= subtitulo %>
            </p>
            <p class="resultado">
                <%= primosResultado %>
            </p>
            <p class="formularioQ">
                Informe outro número para saber se ele é PRIMO.
            </p>
            <form method="POST" action="/primos" autocomplete="off">
                <input name="numero" type="text" />
                <%- include("./elementos/btnEnviar") %>
            </form>
        </div>
    </div>
</div>