<div class="secundario">
    <div>
        <img class="foto1" src="images/2020.jpg" alt="Minha foto">
    </div>

    <ul>
        <li>
            <a href="https://www.behance.net/luizapires">
                <img class="behance" src="images/be1.png" alt="behance">
            </a>
        </li>
        <li>
            <a href="https://github.com/LuizaPires">
                <img class="github" src="images/github1.png" alt="github">
            </a>
        </li>
        <li>
            <a href="https://instagram.com/luizapgonzalez">
                <img class="instagram" src="images/insta1.png" alt="instagram">
            </a>
        </li>
        <li>
            <a href="https://facebook.com/luizapiresdesigns">
                <img class="facebook" src="images/face1.png" alt="facebook">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/c/LuizaPires/videos">
                <img class="youtube" src="images/tube1.png" alt="youtube">
            </a>
        </li>
        <li>
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5585986777684">
                <img class="whatsapp" src="images/zap1.png" alt="whatsapp">
            </a>
        </li>
        <div class="espacoFinal">.</div>
    </ul>
</div>